.preFooter{
    margin: 5vmax 0 0 0 ;
    background: #fff;
    padding: 1vmax;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.preFooter div{
    display: flex;
    justify-content: center;
    color: rgba(66,66,66,0.829);
    align-items: center;
    cursor:pointer;
}
.preFooter div:hover svg{
    fill: rgb(34, 34, 34);
}
.preFooter div:hover p{
    color: rgb(19, 18, 18);
}
 
.preFooter svg{
    transform:  scale(2) translateY(-0.2vmax);
    fill: rgba(37, 37, 37, 0.332);
    margin: 2vmax;
}


/************** preefooter2 **************/
.preFooter2{
    display: grid;
    height: 150px;
    grid-template-columns: repeat(4,1fr); 
  }
  
  .preFooter2 > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .preFooter2 > div > p{
    color: rgba(0, 0, 0, 0.842);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1.5vmax;
    width: 18vmax;
    margin: 0% ;
  }
  .preFooter2 > div > span{
    color: rgba(51, 51, 51, 0.842);
    width: 18vmax;
    font-size:1vmax;
  }
  
  .preFooter2 > div > div > input{
    border: none;
    outline: none;
    padding: 0.5vmax 1vmax;
    background-color: rgb(255, 255, 255);
    font-size: 1vmax;
    
    width: 20.4vmax;
  }
  .preFooter2 > div > div > button{
    border: none;
    padding: 0.5vmax;
    background-color: rgb(255, 255, 255);
    outline: none;
  }
  .preFooter2 > div > div{
  border: 1px solid rgba(126, 126, 126, 0.493);
  }
  
  .preFooter2 > div:nth-child(2) > span{
    width: 22vmax;
  }
  
  
  .preFooter2 > div:nth-child(3){
    justify-content: center;
    align-items:flex-end;
  }
  
  .preFooter2 > div:nth-child(3) > p{
    width: 14vmax;
     
  }
  
  .preFooter2 > div:nth-child(3) > span{
    width: 14vmax;
  }
  .preFooter2 > div:nth-child(4) {
    flex-direction: row;
  }
  .preFooter2 > div:nth-child(4) > svg{
    cursor: pointer;
    margin: 1vmax;
    fill: rgba(138, 138, 138, 0.705);
  }
  .preFooter2 > div:nth-child(4) > svg:hover{
    fill: rgb(94, 94, 94);
  }

 
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  2fr;
    padding: 4.5vmax;
    background-color: rgb(37, 37, 37);
    color: rgb(197, 197, 197);
}

.footer > div{
    margin:1vmax;
    display: flex;
    flex-direction: column;

}

.footer > div:nth-child(2){
    display: block;
}
.footer > div:nth-child(2) >a{
        display: inline-block;

}
.footer > div > a{
    color: rgb(197, 197, 197);
    font-size: 1vmax;
    text-decoration: none;
    margin: 0.6vmax 0;
}

.footer > div > a:hover{
    color: white;
}

.footer > div:last-child >div{
    width: 45%;
    margin: 1vmax 0;
    font-size: 0.8vmax;
}
.footer > div:last-child >button{
    width: 50%;
    border:1px solid white;
    background-color: rgb(37, 37, 37);
    color: white;
    padding: 0.6vmax 0;
    font-size: 1.2vmax;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    }
    
    .footer > div:last-child >button:hover{
        transition: .5s;
        background-color: rgb(248, 244, 244);
        color: rgb(37, 37, 37);
    }
.footerBorder{
      background-color: rgb(37, 37, 37); 
      color: #fff;
     
     
}
.footerBorder div{
    border-top: 1px solid rgba(197,197,197 ,0.185);
    width: 90vmax;
    margin:  auto;
    padding: 2vmax;
    font-size: 0.98vmax;
    text-align: center;
}
