.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.heading div{
    width: 30vw;
    height: 1px;
    background-color: rgba(39,39,39,0.274);
}
.heading p{
    margin: 3vmax;
    color: rgb(77,77,77);
    font-size: 2vmax;
}